<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<title>标题占位符</title>
		<link rel="stylesheet" href="./comfey.css">
	</head>
	<body>
		<nav>
			<ul>
				<a href="button.html">按钮</a>

				<a href="header.html">标题</a>
			</ul>
		</nav>

		<div class="_ segment container">
			{% block body %}
			{% endblock %}
		</div>

		{% block js %}
		{% endblock %}
	</body>
</html>
