@import "../lib/const";

.paint-input(@color) {
	@dark-color: darken(@color, 20%);

	color: @color;
	border-color: @color;
	.cube-shadow();

	&:hover {
		border-color: @dark-color;
	}

	&:focus {
		box-shadow: 0 0 4px 2px fade(@dark-color, 20%);
	}
}

._.input {
	border-width: 1px;
	border-style: solid;
	border-radius: @radius;
	transition+: color 1s;
	transition+: border-color 1s;
	transition+: box-shadow 1s;

	.element-padding();
	.paint-input(@black);

	each(@pallate-map, {
		&.@{key} {
			.paint-input(@value);
		}
	});
}

._.input.action {
	display: inline-flex;
	padding: 0;

	& > input,
	& > select {
		border: none;
		box-shadow: unset;
		border-radius: @radius;
	}

	& > .button {
		border-radius: 0;
		box-shadow: unset;

		&:first-child {
			.radius-at(left);
		}

		&:last-child {
			.radius-at(right);
		}
	}
}
