@import "./var.less";
@import "./f.less";

.mk-button(@color, @deep-color) {
	.color-on(@color);

	&:hover {
		background-color: @deep-color;
		box-shadow+: 0 0 10px 2px fade(@deep-color, 20%);
	}
}

.button {
	border-width: 0;
	padding: .4em .8em;
	border-radius: 4px;
	transition+: background-color 1s;
	transition+: box-shadow 1s;
	.color-on(@white);

	&:hover {
		background-color: darken(@white, 16%);
		box-shadow: 0 0 10 2px fade(@black, 20%);
	}

	// 其他颜色。
	each(@color-map, {
		&.@{key} {
			@deep-color: @deep-color-map[$@key];
			.mk-button(@value, @deep-color);
		}
	});
}
