@import "./var.less";
@import "./f.less";

.mk-button(@color) {
	@dark-color: darken(@color, 20%);
	.color-on(@color);

	&:hover {
		background-color: @dark-color;
		box-shadow+: 0 0 10px 2px fade(@dark-color, 20%);
	}
}

.button {
	border-width: 0;
	padding: .4em .8em;
	border-radius: 4px;
	transition+: background-color 1s;
	transition+: box-shadow 1s;
	.mk-button(@white);

	// 其他颜色。
	each(@color-map, {
		&.@{key} {
			.mk-button(@value);
		}
	});
}
