<h2>网络</h2>

<div class="_ grid">
	{% for i in range(1, 11) %}
		<div class="col">Cell {{ i }}</div>
	{% endfor %}
</div>

<div class="_ grid">
	<div class="col stretch">全是我的</div>
	<div class="col">躲在角落瑟瑟发抖</div>
</div>
