{% extends tpl %}

{% block body %}
	<h1 class="_ header">头部标题</h1>

	<p class="text">
		适用于一般性标题。
	</p>

	<h2 class="_ header">普通标题</h2>

	标题大小自动与标签属性契合。

	<div>
		<h1 class="_ header">一号标题</h1>
		<h2 class="_ header">二号标题</h2>
		<h3 class="_ header">三号标题</h3>
		<h4 class="_ header">四号标题</h4>
		<h5 class="_ header">五号标题</h5>
	</div>

	<h2 class="_ header">标题样式</h2>

	加下下划线的标题。

	<div>
		<div class="_ header underline">下划线标题</div>
	</div>
{% endblock %}
